---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Furniture.">
  <main class="max-w-7xl px-2 py-4 m-auto">
    <div class="flex flex-row mb-12 justify-between items-center">
      <h1 class="font-bold text-[10rem] tracking-tighter">Furniture.</h1>
      <p class="text-lg font-medium text-gray-800 w-1/3 mt-10">
        Furniture that makes your guests say "Wow! This is the life I want". The
        most comfortable and pristine furniture at the best prices. Explore our
        collection and help your brighten your house today.
      </p>
    </div>
    <hr class="border-gray-300 max-w-7xl m-auto" />
  </main>
</Layout>

<style></style>
